# Переделайте под себя если планируете использовать
[Unit]
Description=Komaru Tools bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/panchan/Komaru-Tools
EnvironmentFile=/home/panchan/Komaru-Tools/.env
ExecStartPre=/usr/bin/git -C /home/panchan/Komaru-Tools pull
ExecStart=/home/panchan/Komaru-Tools/venv/bin/python -m bot
KillMode=process
Restart=always
RestartSec=10
User=panchan

[Install]
WantedBy=multi-user.target